.main {
    display: grid;
    flex-direction: row;
    background-color: aqua;
    grid-template-columns: repeat(5 , auto);
   
align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.one {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    background-color: gray;
    margin: 10px;

}

